input {
  outline: none;
  background-color: var(--gray) !important;
}

.overlay {
  filter: blur(2px);
}
.more {
  filter: blur(0px) !important;
}
.section1,
.section2 {
  transition: filter 0.2s ease-in;
}

progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

::-webkit-progress-bar {
  background-color: lightgray;
  border-radius: 5px;
  height: 2px;
}
::-moz-progress-bar {
  background-color: lightgray;
  border-radius: 5px;
  height: 2px;
}

::-webkit-progress-value {
  background-color: #00ffa3;
  border-radius: 5px;
}

::-moz-progress-value {
  background-color: #00ffa3;
  border-radius: 5px;
}
