input {
  outline: none;
  background-color: var(--gray) !important;
}
input:focus {
  outline: none !important;
}
.overlay {
  filter: blur(1px);
  transition: filter 50ms ease-in-out;
}
.more {
  filter: blur(0px) !important;
  transition: transform 50ms ease-in-out;
}
.hide {
  transform: translateX(100%) !important;
  transition: transform 150ms ease-in-out;
}

.section1 {
  transition: filter 200ms ease-in-out;
}
progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2px;
}

::-webkit-progress-bar {
  background-color: lightgray;
  border-radius: 5px;
  height: 2px;
}
::-moz-progress-bar {
  background-color: lightgray;
  border-radius: 5px;
  height: 2px;
}

::-webkit-progress-value {
  background-color: #00ffa3;
  border-radius: 5px;
}

::-moz-progress-value {
  background-color: #00ffa3;
  border-radius: 5px;
}
